<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{>header}}
</head>

<body>
    <div class="box">
   <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      RG
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="profile" class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        About
      </a>
      <a class="navbar-item">
        Report an issue
      </a>
       <a class="navbar-item">
            Contact
          </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
         <a href="dashboard" class="button is-primary">
            <strong>profile</strong>
          </a>
          <a href="logout" class="button is-primary">
            <strong>Sign out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="tabs is-centered is-boxed is-medium $tabs-link-color black">
  <ul>
    <li class="is-toggle">
      <a>
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Pictures</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span>Music</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span>Videos</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Documents</span>
      </a>
    </li>
  </ul>
</div>
{{footer}}
</body>
</html>